name: CI Pipeline - Zero Trust Backend

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:

  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Syntax check
      run: |
        python -m py_compile $(git ls-files "*.py")

    - name: Health check
      run: |
        nohup uvicorn backend.main:app --reload &
        sleep 5
        curl -f http://127.0.0.1:8000/health || exit 1

#  deploy-to-server:
 #   needs: build-and-test
 #   runs-on: ubuntu-latest

 #   steps:
   # - name: Checkout code
   #   uses: actions/checkout@v3

  #  - name: Copy files to server via SSH
   #   uses: appleboy/scp-action@v0.1.4
     # with:
     #   host: ${{ secrets.SERVER_HOST }}
      # username: ${{ secrets.SERVER_USER }}
      #  key: ${{ secrets.SERVER_SSH_KEY }}
    #    source: "."
      #  target: "/var/www/zero_trust_app"

   # - name: Execute remote deploy script
    #  uses: appleboy/ssh-action@v0.1.6
    #  with:
      #  host: ${{ secrets.SERVER_HOST }}
      #  username: ${{ secrets.SERVER_USER }}
       # key: ${{ secrets.SERVER_SSH_KEY }}
     #   script: |
      #    cd /var/www/zero_trust_app
      #    docker compose down || true
      #    docker compose up -d --build
